<thead>
  <tr>
    <% columns.each :flatten => true do |column| -%>
    <% next if column_renders_as(column) == :hidden -%>
      <th class="<%= 'required' if column.required? %>"><label><%= column.label %></label></th>
    <% end -%>
  </tr>
</thead>
