<div id="<%= element_form_id :action => form_action %>-content" class="multiple">
<% first = true -%>
<% records.each do |scope, @record| -%>
  <%= render :partial => 'batch_create_form_vertical_record', :locals => { :columns => columns, :form_action => form_action, :scope => "[#{scope}]", :first => first } %>
  <% first = false -%>
<% end -%>
</div>
