.active-scaffold .multiple .form_record .errorExplanation {
  clear: left;
}
.active-scaffold .multiple .form_record {
  border-top: 1px solid #7FCF00;
}
.active-scaffold .multiple .form_record:first-child {
  border-top: 0;
}
.active-scaffold .multiple .form_record > a.remove {
  background-image: url("/assets/active_scaffold/cross.png");
  display: block;
  font-weight: bold;
  height: 16px;
  padding: 0;
  text-indent: -4000px;
  width: 16px;
  margin: 0 5px 10px;
}
.batch-create-rows {
  float: right;
}
.batch-create-rows input {
  width: 4em;
}
.active-scaffold-header div.actions > a.batch_new {
  background-position: 5px 50%;
  background-repeat: no-repeat;
  background-image: url("/assets/active_scaffold/add.png");
  margin: 0;
  padding: 5px 5px 5px 25px;
}
